PlasmaData/ITER
PlasmaData/JET
PlasmaData/MAST
PlasmaData/Magnum-PSI
Dependencies/
Tests/TemperatureVariationOfConstants
Backups/
Data/
build/
CMakeFiles/

main
Test
*.txt
*.dat
*.o
*.png
*.sh

cmake_install.cmake
Makefile
