PlasmaData/ITER
PlasmaData/JET
PlasmaData/MAST
PlasmaData/Magnum-PSI
PlasmaData/DIII-D
PlasmaData/EAST
PlasmaData/NETCDFReader
Dependencies/
Tests/TemperatureVariationOfConstants
PlasmaData/PlasmaGenerator/main
EmissivityData/
Backups/
Data/
build/
CMakeFiles/
Plotting/
docs/latex
docs/html
Config_Files/*.cfg

bin/dtoksu
bin/model_test
bin/unit_test
bin/int_test
bin/lib*
*.dat
*.o
*.png
*.sh
*.eps
*.txt
*.plt

cmake_install.cmake
Makefile
