PlasmaData/ITER
PlasmaData/JET
PlasmaData/MAST
PlasmaData/Magnum-PSI
Dependencies/
Tests/TemperatureVariationOfConstants
Backups/
Data/
build/
CMakeFiles/

bin/main
bin/unit_test
bin/int_test
*.txt
*.dat
*.o
*.png
*.sh

cmake_install.cmake
Makefile
