# DTOKS-U configuration file
# 19/01/18
#
# This configuration file uses the config4cpp libray, documentation can be found at:
# http://www.config4star.org/

# // ------------------- META_DATA FILE ------------------- //
Filename = "Data/DTOKSU.txt";


# // ------------------- PLASMA GRID ---------------------- //
# xSpacing = zSpacing = 0.01

plasmagrid {
	Plasma = "h";
	Machine = "p";
	xSpacing = "0.00234375";
	zSpacing = "0.04";
}

# // ------------------- DUST ---------------------------- //
# Parameters describing the heating model
# Element, (W) : Tungsten, (G) : Graphite, (B) : Beryllium or (F) : Iron.
dust {
	Element="W";
	size="8e-6";
	Temp="300";
	dynamics {
		InitPosition = ["0.145","0.01","0.05"];
		InitVelocity = ["0.0","0.0","0.0"];
		InitRotationalFreq = "0.0";
	}
}

# // ------------------- DEFINE MODELS -------------------- //
# Define the behaviour of the models for the temperature dependant constants, 
# the time step and the 'Name' variable.
# Possible values for Emissivity Model:
# 'c', 'v' and 'f': Corresponding to (c)onstant, (v)ariable and from (f)ile
# Possible values for Expansion Model:
# 'c', 'v' and 's': Corresponding to (constant, (v)ariable, (s)et and (z)ero expansion
# Possible values for Heat Capacity Model:
#'c', 'v' and 's': Corresponding to (c)onstant, (v)ariable and (s)et
# Possible values for Boiling Model:
#'y', 'n', 's' and 't': Corresponding to (y)es, (n)o, (s)uper and (t)homson
variablemodels {
	EmissivityModel = "c";
	ExpansionModel = "c";
	HeatCapacityModel = "v";
	BoilingModel = "t";
}

# // ------------------- HEATING MODELS ------------------ //
# Set to true all heating models that are wanted
heatingmodels {
	RadiativeCooling = "true";
	EvaporativeCooling = "true";
	NewtonCooling = "false";
	IonHeatFlux = "false";
	ElectronHeatFlux = "true";
	NeutralHeatFlux = "true";
	NeutralRecomb = "false";
	SEE = "false";
	TEE = "true";
}

# // ------------------- FORCING MODELS ------------------- //
forcemodels {
	Gravity = "true";
	Centrifugal = "true";
	Lorentz = "true";
	IonDrag = "false";	
	HybridDrag = "true";
	NeutralDrag = "true";
}

# // ------------------- CHARGING MODELS ------------------ //
# ONLY ONE SHOULD BE ON
chargemodels {
	DTOKSOML = "false";
	SchottkyOML = "false";
	DTOKSWell = "true";
}

# // ------------------- ACCURACY MODELS ------------------ //
# Accuracy Levels correspond to Charging, Heating and Forcing respectively
accuracylevels {
	force = "1.0";
	heat = "1.0";
	charge = "0.1";
}

# // ------------------- PLASMA DATA --------------------- //
# NOTE: 16/06/17, current plasma data matches DTOKS initial plasma data for debugging purposes.
# NumOfev 		= 1.5
plasmadata {
	IonDensity 		= "3.8e18";
	ElectronDensity = "1e18";
	NeutralDensity 	= "1e18";
	IonTemp 		= "13780.8";
	NeutralTemp 	= "13780.8";
	ElectronTemp 	= "13780.8";
	PlasmaVelocity	= ["501.33", "7268.5", "914.947"];
	Efield			= ["-13.673", "0", "-27.925"];
	Bfield			= ["0.0226868", "0.328923", "0.0414043"];
}
